/******************************************************** 
 * All elements styling 
*********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}

body {
    background-color: rgb(255,213,91);
    position: absolute;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

/******************************************************** 
 * Header styling 
*********************************************************/
#header {
    background-color: #6ED57E;
    padding: 15px;
    border-bottom: 5px solid black;
    text-align: center;
    margin-bottom: 20px;
}

#h1-title {
    color: #293252;
    font-size: 3rem;
}

#h1-title .title-color {
    color: rgb(255,213,91);
}

/******************************************************** 
 * Buttons styling 
*********************************************************/

.flex-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    width: 180px;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 45px;
    border: none;
    color: #293252;
    background-color: #6ED57E;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
}

.btn:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
    outline: none;
}

.custom-color #text-custom-color {
    color: #293252;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    background-color: #6ED57E;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#select-custom-color {
    cursor: pointer;
    width: 200px;
    height: 30px;
}

/******************************************************** 
 * Container styling 
*********************************************************/
.container {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 1000px;
    height: 400px;
    background-color: #293252;
    margin: 0 auto;  
}

.sqaure-div {
    background-color: white;
    border: 1px solid gray;
}

/******************************************************** 
 * Footer styling 
*********************************************************/
#footer {
    margin-top: 30px;
}

#footer .icons {
    display: flex;
    justify-content: center;
}

#footer #footer-text {
    text-align: center;
    margin-bottom: 5px;
}
/* Style all font awesome icons */
.fa {
    text-align: center;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-github {
    color: #293252;
  }
  
  /* Twitter */
  .fa-linkedin {
    color: #293252;
  }